
#polina video{ 

    width:100%;
	float:left;
	background-size:cover;
}
#polina p{  
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;  
  background: rgba(0,0,0,0.3);
  color: white;
	z-index:100;
	position:absolute;
  font-size: 1.2rem;

}
#polina button { 
  display: block;
  border: none; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}
#polina a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
#polina a:hover{
  background:rgba(0,0,0,0.9);
}
#part_3{
	float:left;
	width:100%;
	height:20px;
	background-color:orange;
}
#part_4{
	float:left;
	width:100%;
	height:20px;
	background-color:blue;
	
}
#part_5{
	
	width:20%;
	height:50px;
	background-color:red;
	float:left;
}
